        </main>

        <footer class="footer">
            <p>Copyright © <%= new Date().getFullYear(); %> - <a href="https://osolaldev.github.io/Personal-Site-English/
                ">Oda Solà López</a></p>
        </footer>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <!-- SCRIPTS -->
        <script src="scripts/main.js"></script>
    </body>

</html>