<nav class="nav-bar">
    <a class="nav-bar_btn" href="/">
        <div class="nav-bar_btn_underline"></div>
        <img class="nav-bar_btn_img" src="./images/calendar.png" alt="">
        <p>Today</p>
    </a>
    <a class="nav-bar_btn" href="/work">
        <div class="nav-bar_btn_underline hide"></div>
        <img class="nav-bar_btn_img" src="./images/work.png" alt="">
        <p>Work</p>
    </a>
</nav>